<div>
    <div><h1>Lista de tipos de evento</h1></div>
    <button mat-raised-button class="new-role-button" routerLink="/tipoevento/nuevo">
      Nuevo
    </button>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- ID Column -->
            <ng-container matColumnDef="c1">
              <th mat-header-cell *matHeaderCellDef> Codigo </th>
              <td mat-cell *matCellDef="let element"> {{element.idEventType}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="c2">
              <th mat-header-cell *matHeaderCellDef> Título </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
          
            <!-- User Column -->
            <ng-container matColumnDef="c3">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            
            <ng-container matColumnDef="accion01">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element" (click)="eliminar(element.idEventType)" >
                <mat-icon style="color:hsl(4, 97%, 48%) ;">delete</mat-icon>
              </td>
             </ng-container>

            <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
              <td mat-cell *matCellDef="let element"  [routerLink]="['ediciones',element.idEventType]">
                <mat-icon style="color:hsl(4, 97%, 48%) ;">edit</mat-icon>
              </td>
             </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
    </div>
</div>
