.container {
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  font-size: 28px;
  color: #1976D2;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #1976D2;
  margin: 8px auto 0;
  border-radius: 5px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.mat-form-field {
  width: 100%;
}

/* Alinear botones al centro */
.button-aceptar,
.button-cancelar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo del botón "Aceptar" en color Blue */
.button-aceptar button {
  background-color: #42A5F5; /* Blue de la paleta */
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-aceptar button:hover {
  background-color: #1E88E5; /* Tono más oscuro de Blue */
  box-shadow: 0 4px 10px rgba(30, 136, 229, 0.4);
  transform: translateY(-2px);
}

/* Estilo del botón "Cancelar" en color Amber */
.button-cancelar button {
  background-color: #FFB300; /* Amber de la paleta */
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-cancelar button:hover {
  background-color: #FF8F00; /* Tono más oscuro de Amber */
  box-shadow: 0 4px 10px rgba(255, 143, 0, 0.4);
  transform: translateY(-2px);
}
