<div class="container">
  <h2>Registro de usuarios</h2>
  <form [formGroup]="form" (submit)="aceptar()">
    
    <mat-form-field class="example-full-width" *ngIf="edicion">
      <mat-label>Código</mat-label>
      <input matInput placeholder="Id" formControlName="hcodigo" readonly />
    </mat-form-field>

    <!-- DNI y Nombre en una fila -->
    <div class="form-row">
      <mat-form-field class="example-full-width">
        <mat-label>DNI</mat-label>
        <input
          matInput
          placeholder="DNI"
          formControlName="hdni"
          (keypress)="onlyNumbers($event)"
        />
        <mat-error *ngIf="form.get('hdni')?.hasError('required')">
          El DNI es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="hnombre" />
        <mat-error *ngIf="form.get('hnombre')?.hasError('required')">
          El nombre es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Apellidos y Correo Electrónico en una fila -->
    <div class="form-row">
      <mat-form-field class="example-full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" formControlName="hapellidos" />
        <mat-error *ngIf="form.get('hapellidos')?.hasError('required')">
          Los apellidos son obligatorios.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="Email" formControlName="hcorreo" />
        <mat-error *ngIf="form.get('hcorreo')?.hasError('required')">
          El email es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Contraseña y Cumpleaños en una fila -->
    <div class="form-row">
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          placeholder="Contraseña"
          type="password"
          formControlName="hpassword"
        />
        <mat-error *ngIf="obtenerControlCampo('hpassword')?.errors?.['required']">
          La contraseña es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cumpleaños</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="hcumpleanios"
          placeholder="MM/DD/YYYY"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('hcumpleanios')?.hasError('required')">
          La fecha de cumpleaños es obligatoria.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Dirección y Habilitar en una fila -->
    <div class="form-row">
      <mat-form-field class="example-full-width">
        <mat-label>Dirección</mat-label>
        <textarea
          matInput
          placeholder="Dirección"
          formControlName="hdireccion"
        ></textarea>
        <mat-error *ngIf="form.get('hdireccion')?.hasError('required')">
          La dirección es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Habilitar</mat-label>
        <mat-select formControlName="henabled">
          <mat-option *ngFor="let h of habilitado" [value]="h.value">
            {{ h.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="obtenerControlCampo('henabled')?.errors?.['required']">
          Decidir la habilitación de la cuenta es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-aceptar">
      <button mat-raised-button color="primary">Aceptar</button>
    </div>
    <div class="button-cancelar">
      <button
      mat-raised-button
      color="warn"
      routerLink="/usuarios"
      class="cancel"
    >
      Cancelar
    </button>
    </div>

    <p>{{ mensaje }}</p>
  </form>
</div>
