<div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <img src="../../../../assets/logo.png" class="logo" alt="Logo de la empresa" />
        <h2>Registrate</h2>
      </div>
      <form [formGroup]="form" (submit)="registrar()">
        <mat-form-field class="example-full-width">
            <mat-label>DNI</mat-label>
            <input
              matInput
              placeholder="DNI"
              formControlName="dni"
              (keypress)="onlyNumbers($event)"
            />
            <mat-error *ngIf="form.get('dni')?.hasError('required')">
              El DNI es obligatorio.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre" />
            <mat-error *ngIf="form.get('nombre')?.hasError('required')">
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="apellidos" />
            <mat-error *ngIf="form.get('apellidos')?.hasError('required')">
              Los apellidos son obligatorios.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput placeholder="Email" formControlName="correo" />
            <mat-error *ngIf="form.get('correo')?.hasError('required')">
              El email es obligatorio.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              placeholder="Contraseña"
              type="password"
              formControlName="password"
            />
            <mat-error *ngIf="obtenerControlCampo('password')?.errors?.['required']">
              La contraseña es obligatoria.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Cumpleaños</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="cumpleanios"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('cumpleanios')?.hasError('required')">
              La fecha de cumpleaños es obligatoria.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Dirección</mat-label>
            <textarea
              matInput
              placeholder="Dirección"
              formControlName="direccion"
            ></textarea>
            <mat-error *ngIf="form.get('direccion')?.hasError('required')">
              La dirección es obligatoria.
            </mat-error>
          </mat-form-field>
          
        <div class="text-end">
            <button mat-raised-button color="primary">Agregar</button>
        </div>
    </form>
    </div>
  </div>