<div class="roles-list-container">
  <div class="header">
    <h2>Lista de roles</h2>
    <button mat-raised-button class="new-role-button" routerLink="/roles/nuevo">
      Nuevo
    </button>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 roles-table">

      <!-- Codigo Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{ element.nameRole }} </td>
      </ng-container>

      <!-- Usuario Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{ element.user.username }} </td>
      </ng-container>

      <!-- Eliminar Column -->
      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element" (click)="eliminar(element.id)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </td>
      </ng-container>

      <!-- Actualizar Column -->
      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['ediciones', element.id]">
          <mat-icon class="edit-icon">edit</mat-icon>
        </td>
      </ng-container>

      <!-- Table Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Selector de página de la lista de roles">
    </mat-paginator>
  </div>
</div>
