<div>
    <div><h1>Asignar Rol</h1></div>
    <div>
      <div class="container">
        <div class="example-form">
          <form class="example-form" [formGroup]="form" (submit)="aceptar()">

            <mat-form-field class="example-full-width">
                <mat-label>ID</mat-label>
                <input matInput placeholder="Nombre" formControlName="hnombre" />
            </mat-form-field>
            <br />

            <mat-form-field>
                <mat-label>listaRoles</mat-label>
                <mat-select formControlName = "hrole"> 
                  @for (m of listaRoles; track m) {
                  <mat-option [value]="m.value">{{ m.viewValue }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            
            <br>

            <mat-form-field>
              <mat-label>listaUsuarios</mat-label>
              <mat-select formControlName="husuarios">
                @for (m of listaUsuarios; track m) {
                <mat-option [value]="m.id">{{ m.username }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <br />
  
            <div class="button-container">
                <button mat-raised-button color="primary">Aceptar</button>
                <button
                  mat-raised-button
                  color="warn"
                  routerLink="/roles"
                  class="cancel"
                >
                  Cancelar
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>