<div class="roles-form-container">
  <div class="header">
    <h1>Registrar Roles</h1>
  </div>
  <div class="container">
    <form class="example-form" [formGroup]="form" (submit)="aceptar()">
      
      <!-- Campo Código (solo visible en edición) -->
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo" readonly />
      </mat-form-field>

      <!-- Lista de Roles y Lista de Usuarios en una fila -->
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Lista de Roles</mat-label>
          <mat-select formControlName="hrole" required>
            <mat-option *ngFor="let m of listaRoles" [value]="m.value">
              {{ m.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('hrole')?.hasError('required')">
            El rol es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Lista de Usuarios</mat-label>
          <mat-select formControlName="husuarios" required>
            <mat-option *ngFor="let m of listaUsuarios" [value]="m.id">
              {{ m.username }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('husuarios')?.hasError('required')">
            El usuario es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Botones Aceptar y Cancelar en una fila independiente -->
      <div class="button-aceptar">
        <button mat-raised-button color="primary">Aceptar</button>
      </div>
      <div class="button-cancelar">
        <button
        mat-raised-button
        color="warn"
        routerLink="/usuarios"
        class="cancel"
      >
        Cancelar
      </button>
      </div>
    </form>
  </div>
</div>
