<div>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de usos</h2>
      
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">{{ element.iduso }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
        </ng-container>
  

        <ng-container matColumnDef="recurso">
          <th mat-header-cell *matHeaderCellDef>Recurso</th>
          <td mat-cell *matCellDef="let element">{{ element.recurso.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="tiporecurso">
          <th mat-header-cell *matHeaderCellDef>Tipo de Recurso</th>
          <td mat-cell *matCellDef="let element">{{ element.recurso.tipo}}</td>
        </ng-container>
  

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.usuario.username }}</td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
      <div *ngIf="recursoMenosUtilizado && recursoMenosUtilizado.length > 0">
        <h3>Recurso(s) menos utilizado(s):</h3>
        <ul>
          <li *ngFor="let recurso of recursoMenosUtilizado">
            {{ recurso.tiporecurso }} con {{ recurso.totalusos }} uso(s)
          </li>
        </ul>
      </div>
      <div *ngIf="recursoMenosUtilizado.length === 0">
        <p>No hay recursos menos utilizados.</p>
      </div>
      
    </div>
  </div>
  
