<div>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de usos</h2>
      
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">{{ element.iduso }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="recurso">
          <th mat-header-cell *matHeaderCellDef>Recurso</th>
          <td mat-cell *matCellDef="let element">{{ element.recurso.nombre }}</td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.usuario.username }}</td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
  
