<div class="container">
  <h2>Registro de usuarios</h2>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width" *ngIf="edicion">
      <mat-label>Código</mat-label>
      <input matInput placeholder="Id" formControlName="codigo" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="nombre" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Fecha</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="fecha"
        placeholder="MM/DD/YYYY"
        [min]="fechaminima"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('fecha')?.hasError('required')">
        La fecha de cumpleaños es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of status" [value]="s.value">
          {{ s.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('status')?.hasError('required')">
        El estado es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Usuario Psicólogo</mat-label>
      <mat-select formControlName="usuario">
        <mat-option *ngFor="let u of listaUsuariosPsicologos" [value]="u">
          {{ u.username }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('usuario')?.hasError('required')">
        Es obligatorio.
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/citas" class="cancel">
        Cancelar
      </button>
    </div>

    <p>{{ mensaje }}</p>
  </form>
</div>
